/** general css styles for the flair-commerce web app index */

body {
  padding: 10px 0px;
  width: 100%;
  margin-top: -10px;
  margin-left: 0px;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
}


header {
  background-color:#e39bf5;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  align-items: center;
  position: fixed;
  box-shadow: 0px 1px 10px grey;
}

#navbar {
  margin-left: 60%;
}
#navbar ul {
  display: flex;
  flex-direction: row;
}

#navbar li {
  list-style-type: none;
  padding: 0px 15px;
  text-decoration: none;
}

#navbar li a{
  text-decoration: none;
  color: black;
}

#navbar li a:hover {
  color: #a4fda2;
}

.shopping-bag-icon {
  color: black;
  padding: 0 20px;
}
.shopping-bag-icon:hover {
  color: #a4fda2;
}

.hero {
  background-image: url(./images/hero-background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  padding: 10px 0px;
  margin-top: 60px;
}

.hero-text span {
  color: #a4fda2;
}

.hero-text {
 margin-top: 100px;
 justify-content: center;
 display: flex;
 flex-direction: column;
 text-align: center;
 margin-left: -450px;

}
.hero-text h1 {
  font-size: xx-large;
  text-align: center;
}
.hero-text h2 {
  text-align: center;
  margin-top: 0px;
}
.hero-text button {
  width: 100px;
  height: 50px;
  box-shadow: 2px 3px 3px gray;
  font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #a4fda2;
  cursor: pointer;
  user-select: none;
}

.hero-text button a {
  text-decoration: none;
  color: black;
}

.hero-text button:active {
  transform: scale(0.97);
  transition: 0.3s ease;
}

.logo {
  background-image: url("./images/flair-commerce-logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}


footer {
  background-image: url("./images/smartphone-with-products-out-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: start;
}

footer section{
  width: 30%;
  padding: 0 40px;
}

.attributions li {
  list-style-type: none;
  margin-left: -30px;
}

.attributions li a:hover {
  color: blueviolet;
}

.attributions li a {
  color: teal;
  text-decoration: none;
}

.about-me li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: -20px;
}

.about-me li a {
  color: teal;
  text-decoration: none;
}
.about-me li a:hover {
  color: blueviolet;
}