/** general css styles for the flair-commerce web app index */

body {
  min-height: 100vh;
  width: 100%;
  margin-left: 0px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  color: black;
}


header {
  background-color:#e39bf5;
  top: 0;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: row;
  width: 100%;
  height: 15vh;
  align-items: center;
  position: fixed;
  box-shadow: 0px 1px 10px grey;
  padding: 8px;
  z-index: 100;
}


#navbar ul {
  display: flex;
  flex-direction: row;
}

#navbar li {
  list-style-type: none;
  padding: 0px 15px;
  text-decoration: none;
}

#navbar li a{
  text-decoration: none;
  color: black;
}

#navbar li a:hover {
  color: #a4fda2;
}

.shopping-bag-icon {
  color: black;
  padding: 0 20px;
}
.shopping-bag-icon:hover {
  color: #a4fda2;
}

.hero {
  background-image: url(../public/images/hero-background.jpg);
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  background-size: 100% 100%;
  padding: 10px 0px;
  margin-top: 60px;
}

.hero-text span {
  color: #a4fda2;
}

.hero-text {
 margin-top: 100px;
 justify-content: center;
 display: flex;
 flex-direction: column;
 text-align: center;
 margin-left: -450px;

}
.hero-text h1 {
  font-size: xx-large;
  text-align: center;
}
.hero-text h2 {
  text-align: center;
  margin-top: 0px;
}
.hero-text button {
  width: 100px;
  height: 50px;
  box-shadow: 2px 3px 3px gray;
  font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #a4fda2;
  cursor: pointer;
  user-select: none;
}

.hero-text button a {
  text-decoration: none;
  color: black;
}

.hero-text button:active {
  transform: scale(0.97);
  transition: 0.3s ease;
}

.logo {
  background-image: url("../public/images/flair-commerce-logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: auto;
}

.main-content {
  background-color: red;
  margin-top: 100px;
  padding: 15px;

}

/* shop css */

#shop-container {
  background-image: url("../public/images/closeup-trolley.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  margin-top: 40px;
}

.title {
  padding: 50px 0;
  text-align: center;
}

.title h1 {
  background-image: url('../public/images/purple-splash-background.png');
  background-repeat: no-repeat;
  background-size: 100% 80%;
  width: 400px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  font-size: xx-large;
}

.individual-product {
  width: 20%;
  height: 10%;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  background-color: #C8A2C8;
  /*background-color: rgb(201, 201, 195);*/
  box-shadow: 5px 5px 15px grey;
  padding: 10px 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  z-index: 50;
}

.individual-product:hover {
  transform: scale(1.01);
  z-index: 50;
}

.individual-product img {
  width: 100%;
  height: 200px;
}

#products {
  display: flex;
  flex: 0 0 auto;         /* ADD */
  flex-wrap: wrap;
  justify-content: space-around;
}
.highlighted-product:hover {
  transform: none;
}

.product-des {
  border: 1px solid #cce7d0;
  border-radius: 20px;
  padding: 10px 10px;
  position: relative;
}

.product-des i {
  color: gold;
}

.product-des span {
  color: grey;
}

.product-des .cart {
  color: #c6f0c6;
  border-radius: 50px;
  border: 1px solid #c6f0c6;
  padding: 10px 10px;
  align-self: center;
  justify-self: center;
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.product-des .cart:hover {
  color: teal;
}

#product-details-section {
  padding: 50px;
  display: flex;
  margin-left: 80px;
}

.similar-products {
  display: flex;
  justify-content: space-between;
}

.similar-products .small-image {
  width: 20%;
  height: 50px;
  border: 1px solid grey;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  cursor: pointer;
}
.similar-products .small-image img {
  width: 100%;
  height: 100%;
}

.full-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 180px;
  user-select: none;
}

.full-description h4 {
  background-color: #C8A2C8;
  border-radius: 10px;
  padding: 10px;
}

select {
  width: 30%;
  height: 38px;
  border: none;
  box-shadow: 2px 5px 6px grey;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
}

.selections {
  display: flex;
}

.number-input {
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: 2px 5px 6px grey;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 3px;
}

.add-to-cart-button {
  background-color: #a4fda2;
  width: 120px;
  height: 40px;
  border: none;
  box-shadow: 2px 5px 6px grey;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-cart-button:active {
  transform: scale(0.98);
  transition: 0.3s ease;
}

.highlighted-product {
  width: 25%;
  height: 15%;
  padding: 10px 12px;
}


footer {
  background-image: url("../public/images/smartphone-with-products-out-screen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

footer section{
  width: 30%;
  padding: 0 40px;
}

.attributions li {
  list-style-type: none;
  margin-left: -30px;
}

.attributions li a:hover {
  color: blueviolet;
}

.attributions li a {
  color: teal;
  text-decoration: none;
}

.about-me li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: -20px;
}

.about-me li a {
  color: teal;
  text-decoration: none;
}
.about-me li a:hover {
  color: blueviolet;
}