footer {
    background-image: url("../images/smartphone-with-products-out-screen.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: start;
}

footer section{
    width: 30%;
    padding: 0 40px;
}

.attributions li {
    list-style-type: none;
    margin-left: -30px;
}

.attributions li a:hover {
    color: blueviolet;
}

.attributions li a {
    color: teal;
    text-decoration: none;
}

.about-me li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -20px;
}

.about-me li a {
    color: teal;
    text-decoration: none;
}
.about-me li a:hover {
    color: blueviolet;
}