/**css styles for the shop section */

html, #shop-body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
    padding: 0;
    margin: 0;
}


header {
    background-color:#e39bf5;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 10px grey;
    z-index: 100;
}


.logo {
    background-image: url("../images/flair-commerce-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

#navbar {
    margin-left: 60%;
}
#navbar ul {
    display: flex;
    flex-direction: row;
}

#navbar li {
    list-style-type: none;
    padding: 0px 15px;
    text-decoration: none;
}

#navbar li a{
    text-decoration: none;
    color: black;
}

#navbar li a:hover {
    color: #a4fda2;
}

.shopping-bag-icon {
    color: black;
    padding: 0 20px;
}
.shopping-bag-icon:hover {
    color: #a4fda2;
}

/* shop css */

#shop-container {
    background-image: url("../images/closeup-trolley.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    margin-top: 0px;
}

.title {
    padding: 50px 0;
    text-align: center;
}

.title h1 {
    background-image: url('../images/purple-splash-background.png');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    width: 400px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    font-size: xx-large;
}

.individual-product {
    width: 20%;
    height: 10%;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    background-color: #C8A2C8;
    /*background-color: rgb(201, 201, 195);*/
    box-shadow: 5px 5px 15px grey;
    padding: 10px 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    z-index: 50;
}

.individual-product:hover {
    transform: scale(1.01);
    z-index: 50;
}

.individual-product img {
    width: 100%;
    height: 200px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.highlighted-product:hover {
    transform: none;
}

.product-des {
    border: 1px solid #cce7d0;
    border-radius: 20px;
    padding: 10px 10px;
    position: relative;
}

.product-des i {
    color: gold;
}

.product-des span {
    color: grey;
}

.product-des .cart {
    color: #c6f0c6;
    border-radius: 50px;
    border: 1px solid #c6f0c6;
    padding: 10px 10px;
    align-self: center;
    justify-self: center;
    right: 20px;
    bottom: 20px;
    position: absolute;
}

.product-des .cart:hover {
    color: teal;
}

#product-details-section {
    padding: 50px;
    display: flex;
    margin-left: 80px;
}

.similar-products {
    display: flex;
    justify-content: space-between;
}

.similar-products .small-image {
    width: 20%;
    height: 50px;
    border: 1px solid grey;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.similar-products .small-image img {
    width: 100%;
    height: 100%;
}

.full-description {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0px 180px;
    user-select: none;
}

.full-description h4 {
    background-color: #C8A2C8;
    border-radius: 10px;
    padding: 10px;
}

select {
    width: 30%;
    height: 38px;
    border: none;
    box-shadow: 2px 5px 6px grey;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
}

.selections {
    display: flex;
}

.number-input {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 2px 5px 6px grey;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px;
}

.add-to-cart-button {
    background-color: #a4fda2;
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 2px 5px 6px grey;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.add-to-cart-button:active {
    transform: scale(0.98);
    transition: 0.3s ease;
}

.highlighted-product {
    width: 25%;
    height: 15%;
    padding: 10px 12px;
}